<%= form_for @user, html: { multipart: true } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="sign_up_form_2">
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, placeholder: "First Name", class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :User_name %><br>
    <%= f.text_field :name, placeholder: "User Name", class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, placeholder: "Email", class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age, placeholder: "Age", class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", class: "form-control" %>
  </div><br>
  <div class="field">
    <%= f.label :bio %>
    <%= f.text_area :bio, placeholder: "Write something!", class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :profile_picture %>
    <%= f.file_field :profile_picture %><br>
  </div>
  <div class="actions">
    <%= f.submit "Create Account", class: "btn btn-default btn-sign-up" %>
  </div>
  
<% end %>
</div>