<div class="post-page">
  <% if notice %>
    <div class="alert alert-default"><%= notice %></div>
  <% end %>

  <div class="col-md-3"> 
            
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading-gray">
      <%= @user.first_name %> <%= @user.last_name %>| <%= link_to 'Edit', edit_post_path %> | <%= link_to 'Delete', post_path, method: :delete, data: { Confirm: "Are you sure?" } %><i class="fa fa-times"></i> 
      </div>
      <div class="panel-body"><h3><%= @post.body %></h3></div>
      <div class="panel-footer">
              Posted <%= time_ago_in_words(@post.created_at) %> Ago
              <div id="comments-form">
                   
              </div>
              <p><%= @post.comments.count %> Comments</p>
              <p><%= render @post.comments %></p>
      </div>
        
    </div>
  </div>

  <div class="col-md-4">
      
      
  </div>


</div>